/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* Dashboard */
.d-Dashboard-main{
  width: 980px;
  margin: 0 auto;
}

.d-form-group{
  margin: 20px 0;
}
.d-form-group h1{
  text-align: center;
}

.d-form-parts{
  margin: 20px 0;
}

.d-form-label{
  padding-left: 10px;
  border-left: 3px solid #3c8dbc;
}

.d-form-parts textarea{
  height: auto;
  width: 400px;
}

.d-form-group  label{
  cursor: pointer;
}

.d-form-group input[type=checkbox]{
  margin:20px 20px 20px 5px;
}

.d-form-button-group button{
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.d-form-button-group button a{
  color: #fff !important;
}

.d-form-button-group .pure-menu-link{
  background: none;
}
